<mat-tab-group>
    <!-- <mat-tab label="HOR 047" > -->
        <button mat-raised-button color="primary" (click)="openDialog()">Deshabilitar</button>
        <!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Habilitar' : 'Deshabilitar'}}
        </button>-->
        <!--<mat-checkbox class="example-margin" [(ngModel)]="disabled" color="primary">Disabled</mat-checkbox>-->
        <mat-card class="example-card">
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Demandante" [formControl]="demandanteFormControl" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$">
                    <mat-error *ngIf="!demandanteFormControl.hasError('required')">
                            Ingrese solo letras
                    </mat-error>
                    <mat-error *ngIf="demandanteFormControl.hasError('required')">
                        Demandante es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Juez">
                        <mat-option value="option">Juez 1</mat-option>
                        <mat-option value="option">Juez 2</mat-option>
                        <mat-option value="option">Juez 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Demandado" [formControl]="demandadoFormControl" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$">
                    <mat-error *ngIf="!demandadoFormControl.hasError('required')">
                        Ingrese solo letras
                    </mat-error>
                    <mat-error *ngIf="demandadoFormControl.hasError('required')">
                        Demandado es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                     <mat-select placeholder="Tipo de Demanda" [formControl]="tipoDemControl"> 
                        <mat-option value="option">Demanda 1</mat-option>
                        <mat-option value="option">Demanda 2</mat-option>
                        <mat-option value="option">Demanda 3</mat-option>
                     </mat-select><br>
                 </mat-form-field>

                <!-- <mat-form-field> -->
                    <!-- <input matInput type="tel" placeholder="Telf Cliente" [formControl]="telefono"  #input maxlength="8" pattern="^([0-9])*$" > -->
                    <!-- <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint> -->
                        <!-- <mat-error *ngIf="!telefono.hasError('required')"> -->
                            <!-- Ingrese solo numeros -->
                        <!-- </mat-error> -->
                        <!-- <mat-error *ngIf="telefono.hasError('required')"> -->
                            <!-- Ingrese numero -->
                        <!-- </mat-error> -->
                <!-- </mat-form-field> -->
                <mat-form-field>
                        <textarea matInput placeholder="Observaciones"></textarea>
                </mat-form-field>
            </div>
            <div class="button-row">
                <button mat-raised-button color="primary" [disabled]='!telefono.valid' routerLink="/demanda">Aceptar</button>
                <button mat-raised-button color="primary" >Cancelar</button>
            </div>
        </mat-card>
    <!-- </mat-tab> -->
<!-- <mat-tab label="HOR 049">hola</mat-tab> -->
<!-- <mat-tab label="HOR 017">hola</mat-tab> -->

<!-- </mat-tab-group> -->
<ng-content></ng-content>