<mat-card class="card-size"> 
        <mat-card-title>Definiciones Formales </mat-card-title>            
</mat-card>

<mat-card class="card-size">    
      <mat-card-title>Procedimiento administrativo</mat-card-title>     
   <mat-card-content>
        <p>
             Conjunto de pasos, requisitos que se reúnen para la emisión de un acto administrativo.
        </p>
      </mat-card-content>

    <mat-card-title>Acto administrativo</mat-card-title>     
    <mat-card-content>
        <p>
            Reolución o determinación de la autoridad pública que tiene por objeto crear, 
            modificar o extinguir derechos u obligaciones
        </p>
    </mat-card-content>

    <mat-card-title>Administración Pública</mat-card-title>     
    <mat-card-content>
        <p>
                Conjunto de órganos precisamente que tiene por objeto prestar fundamentalmente 
                los servicios públicos necesarios para el debido desarrollo de la sociedad.
        </p>
    </mat-card-content>

    <mat-card-title>Actos impugnables</mat-card-title>     
    <mat-card-content>
        <p>
                Son los actos y disposiciones de la Administración en relación con los cuales 
                será admisible el recurso contencioso-administrativo.
              
        </p>
        <p>
               Son actos impugnables todos los que hayan puesto fin a la vía administrativa. 
               Las disposiciones de carácter general que dictare la Administración del Estado, 
               las entidades locales y las corporaciones e instituciones públicas, podrán ser 
               impugnadas directamente ante la jurisdicción contencioso-administrativa, una vez 
               aprobadas definitivamente en vía administrativa.
        </p>
    </mat-card-content>

    <mat-card-title>Contencioso</mat-card-title>     
    <mat-card-content>
        <p>
                Se trata del proceso que pretende un pronunciamiento que permita que un conflicto u 
                oposición entre partes sea resuelto. La finalidad de un proceso contencioso es la de 
                una pretensión de una o varias personas con intereses enfrentados. Es indiferente en 
                este caso que el demandado se oponga, escape a la discusión, se declare en rebeldía, 
                o reconozca los hechos
        </p>
    </mat-card-content>

    <mat-card-title>Proceso contencioso administrativo</mat-card-title>     
    <mat-card-content>
        <p>
                El proceso contencioso administrativo es un medio para dar satisfacción jurídica a las 
                pretensiones de la administración y de los administrados afectados en sus derechos por 
                el obrar público.
        </p>
        <p>
                Tiene como finalidad el control jurídico por el Poder Judicial de las actuaciones de 
                la administración pública sujetas al derecho administrativo y efectiva tutela de los 
                derechos e intereses de los administrados.
        </p>
    </mat-card-content>

    <mat-card-title>Competencia</mat-card-title>     
    <mat-card-content>
        <p>
                La sala contenciosa administrativa es creada como parte de la estructura del tribunal 
                supremo de justicia con las siguientes atribuciones:                            
        </p>
        <p>
                Conocer y resolver las demandas contenciosas administrativas del nivel nacional y 
                departamental que resultaren de la oposición entre el interés público y privado.
        </p>
    </mat-card-content>

    <mat-card-title>Procedencia</mat-card-title>     
    <mat-card-content>
        <p>
                procederá en los casos en que hubiere oposición entre el interés público y el privado
                y cuando la persona creyere que lesionado o perjudicado su derecho privado, hubiere 
                ocurrido previamente ante el poder ejecutivo reclamando expresamente del acto 
                administrativo y agotando ante ese poder todos los recursos de revisión modificación 
                o revocatoria de la resolución que le hubiere afectado de acuerdo al Art. 776 del 
                Código de Procedimiento Civil.                            
        </p>        
    </mat-card-content>

    <mat-card-title>Demanda</mat-card-title>     
    <mat-card-content>
        <p>
                contención emergente de los contratos negociaciones o concesiones del poder ejecutivo, 
                conforme a las previsiones pertinentes de la constitución política del estado                         
        </p>        
    </mat-card-content>
    
    <mat-card-title>Demandante</mat-card-title>     
    <mat-card-content>
        <p>
                Persona que toma la iniciativa en un proceso y que asume, en esta condición, la triple 
                carga de la alegación, de los hechos y de la prueba de ellos                         
        </p>        
    </mat-card-content>

    <mat-card-title>Demandandado</mat-card-title>     
    <mat-card-content>
        <p>
                Aquel contra el cual se pide algo en juicio civil o contencioso administrativo; la 
                persona contra la cual se interpone la demanda.                     
        </p>        
    </mat-card-content>

    <mat-card-title>Tramite</mat-card-title>     
    <mat-card-content>
        <p>
                Serie de diligencias, formalidades o requisitos determinados para el curso y resolución 
                de un asunto administrativo o de una causa ante la justicia, ele acuerdo con las leyes o 
                la práctica            
        </p>        
     </mat-card-content>

     <mat-card-title>Audiencia</mat-card-title>     
     <mat-card-content>
         <p>
                Sesión durante la cual una jurisdicción toma conocimiento de las pretensiones de las 
                partes, instruye el proceso, escucha los alegatos y emite su juicio.           
         </p>        
      </mat-card-content>

      <mat-card-title>Sentencia</mat-card-title>     
    <mat-card-content>
        <p>
                Resolución judicial que decide definitivamente un proceso o una causa o recurso 
                o cuando la legislación procesal lo establezca.          
        </p>        
     </mat-card-content>
     
     <mat-card-title>Apelación</mat-card-title>     
    <mat-card-content>
        <p>
                Es el recurso ordinario concedido en favor de la parte litigante que impugne una 
                resolución judicial que le cause agravio, con objeto de que el tribunal superior 
                la modifique revoque, deje sin efecto y la anule.           
        </p>        
     </mat-card-content>

     <mat-card-title>Casación</mat-card-title>     
     <mat-card-content>
         <p>
                Se funda en la existencia de una violación errónea o aplicación indebida de la ley 
                sea en la forma o en el fondo. Procederá también cuando en la apreciación de las 
                pruebas se habrá incurrido en error de derecho o error de hecho.           
         </p>        
      </mat-card-content>

  </mat-card>
