<mat-card class="card-size">
  <mat-card-header> 
      <mat-card-title>Proceso Contensioso</mat-card-title>
      <mat-card-subtitle>Descripcion</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p>
          El proceso contencioso administrativo es un medio para dar satisfacción
          jurídica a las pretensiones de la administración y de los administrados
          afectados en sus derechos por el obrar público. Tiene como finalidad el 
          control jurídico por el Poder Judicial de las actuaciones de la administración 
          pública sujetas al derecho administrativo y efectiva tutela de los derechos
          e intereses de los administrados.
      </p>
    </mat-card-content>
</mat-card>